@if (error()) {
<div class="notification is-danger is-light">
  <button class="delete" (click)="closeNotification()"></button>
  Server is not responding.
</div>
} @if (isLoading()) {
<progress class="progress is-small" max="100"></progress>
}
<div
  class="columns is-flex is-align-items-center is-flex-direction-column mt-5"
>
  <fieldset class="box">
    <h1 class="title">Folhabot Url Shortener</h1>
    <input
      class="input my-1"
      type="text"
      placeholder="Url"
      [ngModel]="url()"
      (ngModelChange)="url.set($event)"
      name="url"
    />
    <button
      class="button is-black my-1"
      (click)="createShortenedUrl()"
      [disabled]="isLoading()"
    >
      Shorten
    </button>
    @if(shortenedUrl().length) {
    <p>
      Shortened URL:
      <a [href]="shortenedUrl()" target="_blank">{{ shortenedUrl() }}</a>
    </p>
    }
  </fieldset>
</div>
